<%= title "Add Business" %>
<div class="container">
  <h1>Add new business on Portland ASIA!</h1>
  <p>This will help get your business noticed in the community. Please add as much contact info as you can.</p>
  <%= render 'form' %>
</div>
