@import "bootstrap-sprockets";
@import "bootstrap";

$green: #03B160;
$white: #FFFFFF;
$blue: #4579B5;
$yellow: #FBFF2E;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
p, div {
    font-family: 'Source Sans Pro', sans-serif;
}

body { padding-top: 70px; background-color: aliceblue;}

.navbar-fixed-top {
  color: $white;
  .container-fluid {
    padding: 0 100px;
    color: $white;
    .navbar-header {
      .navbar-brand {
        padding-top: 6px;
        color: $white;
      }
    }
    .navbar-collapse {
      border-color: transparent;
      border-top: none;
      box-shadow: none;
      // margin-top: 4px;
      ul {
        li {
          a {
            color: $white;
            background-color: $green, 10%;
          }
          .dropdown-menu {
            background-color: $yellow;
            li {
              a {
                color: #000000;
                background-color: $yellow
              }
            }
          }
        }
        li.active {
          a {
            color: $white;
            background-color: $blue, 5%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .navbar-collapse {
    margin-top: 4px;
    background-color: $green;
  }
}
@media ( min-width: 992px ) {.col-md-2 { width: inherit; }}
@media ( max-width: 992px ) {.col-md-2 { text-align: center; }}


@media (max-width: 1354px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        // border-top: 1px solid transparent;
        // box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
.navbar-default {
  background-color: $green;
  color: $white;
  height: 70px;
}

.navbar-nav li a { padding-top: 25px; padding-bottom: 24px; font-weight: bold; font-size: 14px; text-transform: uppercase; letter-spacing: 1.5px;}
.navbar-form { padding-top: 10px; }
.navbar-default {
  .navbar-toggle {
    margin-top: 15px;
    .icon-bar {
      background-color: $white;
    }
  }
}

.pdxasialogo {
  height: 70px;
  margin-top: -9px;
}

.carousel-control {
  width: 0;
  .glyphicon-chevron-right {
    margin-right: 0;
    margin-top: -20px;

  }
  .glyphicon-chevron-left {
    margin-left: 0;
    margin-top: -20px;
  }
}
.food-image-tag { border-radius: 50%; border: 2px solid #ccc; }
#food-row { padding: 0 3.5%;}
.food-item { text-align: center; margin-bottom: 10%;}
.food-image {}
.food-text { height: 2.5em; margin: auto; font-size: 25px; margin-top: 5px; line-height: 25px; word-wrap: break-word; width: 200px; a { color: black; text-align: center;}}

.demographic-statistics { background-color: $blue; font-size: 35px; color: $white; box-shadow: 0px 1px 1px #888888; border-top-color: rgba(0, 0, 0, 0.075); }
.demographic-statistics .container-fluid .row { padding-left: 10px; }
.stat-div { float: left; margin: 10px 10px;}
.stat-text { font-size: 13px; color: #ccc; }
.stat-number { font-size: 16px; font-weight: bold; }
.restaurants-row { margin-top: 15px; }
