/*
*= require owl.carousel
*= require owl.theme
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$green: #03B160;
$white: #FFFFFF;
$blue: #4579B5;
$yellow: #FBFF2E;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
p, div {
    font-family: 'Source Sans Pro', sans-serif;
}

body { padding-top: 70px; background-color: aliceblue;}

.navbar-default {
  color: $white;
  .container {
    // padding: 0 100px;
    color: $white;
    .navbar-header {
      .navbar-brand {
        padding-top: 6px;
        color: $white;
      }
    }
    .navbar-collapse {
      // border-color: transparent;
      border-top: none;
      box-shadow: none;
      // margin-top: 4px;
      ul {
        li {
          a {
            color: $white;
            background-color: $green;
          }
          a:hover {
            color: yellow;
          }
          .dropdown-menu {
            background-color: $yellow;
            li {
              a {
                color: #000000;
                background-color: $yellow
              }
              a:hover
              {
                color: grey;
              }
            }
          }
        }
        li.active {
          a {
            color: $white;
            background-color: $blue;
          }
        }
      }
      form {
        background-color: $green;
      }
    }
  }
}
.navbar-default {
  background-color: $green;
  color: $white;
  top: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: -70px;
  height: 95px;
}
.fa-nav-top { margin-bottom: -10px}
.fa-nav-bot { margin-top: -5px}
@media (max-width: 992px) {
  .fa-nav-top {
    margin-top: 20px;
    margin-bottom: -22px;
  }
  .fa-nav-bot {
    margin-top: 24px;
  }
  .navbar-default {
    height: 125px;
  }
}
@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        z-index: 2;
    }
    .navbar-default {
        top: 0;
        border-width: 0 0 1px;
        height: 95px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
		.demographic-statistics {
			display: none;
		}
    .navbar-form {
      margin-top: 0;
      margin-bottom: 0;
    }
}


.navbar-nav li a { font-weight: bold; font-size: 14px; text-transform: uppercase; letter-spacing: 1.5px;}
.navbar-form { padding: 40px 0; }
.navbar-default {
  .navbar-toggle {
    margin-top: 30px;
    .icon-bar {
      background-color: $white;
    }
  }
}

.social-links { margin-right: -15px;}
.left-border-white { border-left: 1px solid white; }
.font-25 { font-size: 25px; }
.pdxasialogo {
  height: 75px;
}

.carousel-control {
  width: 0;
  .glyphicon-chevron-right {
    margin-right: 0;
    margin-top: -20px;

  }
  .glyphicon-chevron-left {
    margin-left: 0;
    margin-top: -20px;
  }
}
.food-image-tag { border-radius: 50%; border: 2px solid #ccc; }
#food-row { padding: 0 3.5%;}
.food-item { text-align: center; margin-bottom: 10%;}
.food-image {}
.food-text { height: 2.5em; margin: auto; font-size: 25px; margin-top: 5px; line-height: 25px; word-wrap: break-word; width: 200px; a { color: black; text-align: center;}}

.demographic-statistics { background-color: $blue; font-size: 35px; color: $white; box-shadow: 0px 1px 1px #888888; border-top-color: rgba(0, 0, 0, 0.075); }
.demographic-statistics .container-fluid .row { padding-left: 10px; }
.stat-div { float: left; margin: 10px 10px;}
.stat-text { font-size: 13px; color: #ccc; }
.stat-number { font-size: 16px; font-weight: bold; }
.restaurants-row { margin-top: 15px; }
.dropdown:hover .dropdown-menu { display: block; margin-top: 0; }
.banner-section { width: 100%; height: 20em; }
.food-bg-wrap { overflow: visible; width: 100%; position: absolute; background-color: black; }
.food-background { background-size: 100% 100%; height: 20em; width: 100%; opacity: .6; }
.food-title { position: absolute; font-size: 2.5em; text-align: center; color: white; font-weight: bold; letter-spacing: 2px; text-shadow: 0px 0px 3px #000; padding-top: 70px; width: 100%; }
.breadcrumbs { position: absolute; color: white; padding: 20px; padding-left: 100px; a { color: white; padding: 0 10px; font-weight: bold; letter-spacing: 1px; text-shadow: 0px 0px 3px #000;} }
.no-padding { padding: 0;}
.no-margin { margin: 0; }

#owl-carousel .item {
  // background: #3fbf79;
  // padding: 30px 0px;
  margin-top: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.welcome-item-height h4 {
  height: 20px;
  overflow: hidden;
}
.card-width-11 {
  width: 11em;
}
.col-width-15 {
  float: left;
  width: 15%;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    margin-top: 4px;
    background-color: $green;
    padding: 0 35px;
  }
}
@media ( min-width: 992px ) {.col-md-2 { width: inherit; }}
@media ( max-width: 992px ) {
  .col-md-2 {
    text-align: center;
  }
  .col-width-15 {
    width: 25%;
  }
}

.social-links { display: block; }

@import "events";
@import "welcome";
