#banner {
  background-image: url('/assets/events/janice.jpg');
  width:100%;
  min-height:189px;
  background-size: auto 100%;
  margin-top: -70px;
}

.not-top { position: inherit; }

#events {
  background-image: url('/assets/events/events.jpg');
  width:100%;
  min-height: 877px;
}
