#banner {
  background-image: url('/assets/events/janice.jpg');
  width:100%;
  min-height:189px;
  background-size: auto 100%;
}

#events {
  background-image: url('/assets/events/events.jpg');
  width:100%;
  min-height: 877px;
  background-size: 100%;
}
.post-event-button { display: inline; float: right; }
.font-italic { font-style: italic; }
.font-bold { font-weight: bold; }
.font-blue { color: #01b0f3; }
.upcoming-events { font-weight: bold; font-size: 3.5em; letter-spacing: -2px; }
.event-bar { background: black; height: 70px; overflow: hidden; }
.event-box { display: inline; float: left; padding: 10px; text-align: center; border-right: 1px solid gray; }
.date-box { padding: 5px 0; display: inline; }
.font-30 { font-size: 30px; }
.display-inline { display: inline; margin: 10px 0; }
.no-border { border-right: none; }
.event-image { display: inline-block; }
.date-font { font-size: 50px; }
.event-title { font-size: 20px; font-weight: bold; letter-spacing: -1px; }
.event-image { width: 100%; }
.event-image:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.event-picture-block { display: inline; position: relative; }
.event-date-box { box-shadow: 1px 2px 3px rgba(0,0,0,.5); position: absolute; top: 80%; left: 50%; text-align: center; transform: translateX(-50%) translateY(-50%); background-color: white; color: black; font-size: 18px; width: 300px; padding: 5px;}
#innerBoxContainer { display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; }
.flex-item { width: 33%; height: 33%; position: relative;  }
