// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner2 {
  background-image: url('/assets/events/restaurant.jpg');
  min-height:189px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  #banner2 {
    min-height: 120px;
  }
}

.container .row .search-bar .form-group { z-index: 1;}

.input-group-addon { width: 1% !important; background: #01B0F3; }
.input-group .form-control { height: 40px; }
span.glyphicon-search { color: white; }
.logo { height: 100px; width: 100px; }
// .search-bar { height: 10em; overflow: hidden; }
.food-box { margin-right: 10px; background: $green; text-align: center; height: 154px; a { color: white; font-size: 50px; } }

.wrapper {
  white-space: nowrap;
  overflow-x: scroll;
}

.scroll-wrapper {
  width: 3000px;
}

.welcome-item-height {
  color: white;
  float: left;
  overflow: hidden;
  width: 165px;
}

// .welcome-item-height:last-of-type {
//   margin-right: 0;
// }
