// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner2 {
  background-image: url('/assets/events/restaurant.jpg');
  min-height:189px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  #banner2 {
    min-height: 100px;
  }
}

.home-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
    }

    li.social-links a { padding: 14px 10px; }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: $green;
    }
}

.container .row .search-bar .form-group { z-index: 1;}

.input-group-addon { width: 1% !important; background: #01B0F3; }
.input-group .form-control { height: 40px; }
span.glyphicon-search { color: white; }
.logo { height: 100px; width: 100px; }
// .search-bar { height: 10em; overflow: hidden; }
.food-box { margin-right: 10px; background: $green; text-align: center; height: 11em; a { color: white; font-size: 75px; i { margin-top: 30px; } } }

.wrapper {
  overflow-x: scroll;
}

.scroll-wrapper {
  width: 6000px;
}

.welcome-item-height {
  color: white;
  float: left;
  width: 165px;
  position: relative;
}

.fp-well { padding: 15px; border-radius: 0; background-color: white; border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; height: 10em; }
.fp-well-last { padding: 15px; border-radius: 0; background-color: white; border: 1px solid black; height: 10em; }
@media (max-width: 767px) {
  .fp-well { border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: none; a { font-size: 1em; } }
  .fp-well-last { border-bottom: 1px solid black; a { font-size: 1em; } }
  .upcoming-events-small { font-size: 1em; }
}
