<!DOCTYPE html>
<html>
<head>
  <title>PDXAsia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <nav class="navbar-social">
    <div class="container">

      <div class="social-links">
        <ul>
          <li><a class="navbar-brand-2" href="#"><img class="pdxasialogo img-responsive" src="/assets/pdxasialogo1.png" alt="" /></a></li>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"> /PDXAsia</i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"> /PDXAsia</i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"> /PDXAsia</i></a></li>
        </ul>

      </div>
    </div>
  </nav> -->

<%= yield %>

</body>
</html>
